<h1>Rails Debugging</h1>

<h2>Challenge 3</h2>

<p>
    Below is a link to another page in this project. Like the previous
    challenge, the link does not work. Using the error Rails provides in
    the browser, adjust the Rails code to make the link work.
</p>

<a href="/completed-challenge-3">Completed Challenge 3</a>