<h1>Challenge 2 Completed!</h1>

<p>
    Nice work! Below is a section for you to write some notes about what you had to do to complete challenge. Get into a habit of recording what error you got, what files you looked at, and what you eventually had to do to complete the challenge. When you're done, click the link to the next challenge.
</p>

<h3>Notes: </h3>

<a href="/challenge-3">To Challenge 3</a>
