<h1>Welcome the Rails Debugging</h1>

<h2>Your first challenge:</h2>

<p>
    Below is a link to another page in this project. The view file exists but the link does not work. Using the error Rails provides in the browser as a guide, adjust the the Rails code to make the link work.
</p>

<a href="/completed-challenge-1">Complete Challenge 1</a>