<h1>Challenge 3 Completed!</h1>

<p>
    Nice work! Below is a section for you to write some notes about what you had to do to complete challenge. Get into a habit of recording what error you got, what files you looked at, and what you eventually had to do to complete the challenge.
</p>

<h3>Notes: </h3>

<h4>Congrats! You made it through the Rails Debugging Project.</h4>